@charset "utf-8";

/* ============================== */
/* 
    - Title: The Teacher Landing Page
    - Autor: CoralixThemes
*/
/* ============================== */

/* Common style */
.grid {
    margin: 0px auto 120px;
}

.grid a {
    float: left;
    width: 100%;
    color: #333;
}

.grid a:nth-child(odd) {
    margin: 30px 0 -30px 0;
}

.grid figure {
    position: relative;
    overflow: hidden;
    background: #333;
    max-height: 388px;
}

.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.grid figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid figcaption h2 {
    margin: 0 0 20px 0;
    color: #e74534;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.grid figcaption p {
    padding: 0 27px;
    color: #8495a5;
    font-weight: 300;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    font-size: 14px;
    line-height: 24px;
}

.grid figcaption h2,
.grid figcaption p {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

.grid figure .btn {
    position: absolute;
    padding: 0;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure .btn {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
    position: absolute;
    top: -1px; /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0px;
}

.grid svg path {
    fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
    opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.grid a:hover figcaption p {
    opacity: 0;
}

/* Individual styles */
.grid figcaption h2 {
    color: #e74c3c;
}

.grid figcaption p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.grid figure .btn {
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background: #fff;
    color: #333;
    font-weight: 300;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.grid a:hover figure .btn {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.grid figcaption h2,
.grid figcaption p {
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

.grid a:hover figcaption p {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

